# stackoverflow_survey_analysis

In this jupyter notebook the analysis of the Stack Overflow survey from 2020 and 2024 is presented.   
For the analysis, the [CRISP-DM](https://en.wikipedia.org/wiki/Cross-industry_standard_process_for_data_mining) process is used.

The [CRISP-DM](https://en.wikipedia.org/wiki/Cross-industry_standard_process_for_data_mining) process consists of the following steps:    
1. Business Understanding
2. Data Understandung
3. Data Preparation
4. Data Modeling
5. Result Evaluation
6. Deployment

## 1. Business Understanding
The main objective of this analysis is to get used to the data science process according to [CRISP-DM](https://en.wikipedia.org/wiki/Cross-industry_standard_process_for_data_mining) taught during the [Udacity - Data Scientist](https://www.udacity.com/enrollment/nd025) Course and to apply the acquired knowledge to a real-world problem.

To achieve this, the analysis will use the [Stack Overflow surveys from 2020 and 2024](https://survey.stackoverflow.co/) to address the following three questions:

**When comparing the results from 2020 to 2024 ...**  

- **Question 1: ... did the difficulty of the survey increase over the past four years?**
  - *Relevance*: Understanding changes in survey difficulty over time can help to ensure that any observed trends or patterns in the results are not due to changes in survey complexity.

- **Question 2: ... did the past four years change the general job statisfaction?**   
  - *Relevance*: Analyzing shifts in job satisfaction over time can provide insights into the impact of external factors such as economic conditions or general changes in working conditions.

- **Question 3: ... did the past four years change job compensation?**   
  - *Relevance*: Examining changes in job compensation over the past four years helps to see trends in salary growth, inflation adjustments, and how economic factors or industry shifts may have influenced compensation practices.

## 2. Data understanding

This chapter describes the steps taken to understand the provided data by the Stack Overflow surveys from 2020 and 2024

### 2.1 Import packages and load dataframes

First, we import the relevant packages for the analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Then we import the relevant survays into our workspace

In [3]:
df_20 = pd.read_csv('./data/stack-overflow-developer-survey-2020/survey_results_public.csv')
df_20_schema = pd.read_csv('./data/stack-overflow-developer-survey-2020/survey_results_schema.csv')
df_24 = pd.read_csv('./data/stack-overflow-developer-survey-2024/survey_results_public.csv')
df_24_schema = pd.read_csv('./data/stack-overflow-developer-survey-2024/survey_results_schema.csv')

Now, lets take a look at the head of the 2020 and 2024 survey

In [4]:
df_20.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [5]:
df_24.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

### 2.2 Find common colums relevant for solving the questions

Lets find the coloums which are available in both datafields and which can be used to solve the three questions:    
**When comparing the results from 2020 to 2024 ...**  
- **Question 1: ... did the difficulty of the survey increase over the past four years?**
- **Question 2: ... did the past four years change the general job statisfaction?**   
- **Question 3: ... did the past four years change job compensation?**

In [6]:
common_columns = df_24.columns.intersection(df_20.columns) # find the common columns in bot datafields
common_columns_list = common_columns.tolist()
common_columns_list

['MainBranch',
 'Age',
 'Employment',
 'EdLevel',
 'YearsCode',
 'YearsCodePro',
 'DevType',
 'OrgSize',
 'Country',
 'CompTotal',
 'NEWSOSites',
 'SOVisitFreq',
 'SOAccount',
 'SOPartFreq',
 'SOComm',
 'SurveyLength',
 'SurveyEase',
 'JobSat']

The description of each column can be found in the schema file:

In [15]:
pd.set_option('display.max_colwidth', None) # do not limit output
loc_column = common_columns_list
for loc_column in common_columns_list:
    # Print the question text from df_20_schema
    print(f"df_20_schema: Question text for '{loc_column}'")
    print(df_20_schema[df_20_schema['Column'] == loc_column]['QuestionText'].to_string(index=False))

    # Print the question text from df_24_schema
    print(f"df_24_schema: Question text for '{loc_column}'")
    print(df_24_schema[df_24_schema['qname'] == loc_column]['question'].to_string(index=False))
    
    print("\n" + "-"*50 + "\n")  # Separator between different columns for better readability
pd.reset_option('display.max_colwidth')

df_20_schema: Question text for 'MainBranch'
Which of the following options best describes you today? Here, by "developer" we mean "someone who writes code."
df_24_schema: Question text for 'MainBranch'
Which of the following options best describes you today? For the purpose of this survey, a developer is "someone who writes code".*

--------------------------------------------------

df_20_schema: Question text for 'Age'
What is your age (in years)? If you prefer not to answer, you may leave this question blank.
df_24_schema: Question text for 'Age'
What is your age?*

--------------------------------------------------

df_20_schema: Question text for 'Employment'
Which of the following best describes your current employment status?
df_24_schema: Question text for 'Employment'
Which of the following best describes your current employment status? Select all that apply.*

--------------------------------------------------

df_20_schema: Question text for 'EdLevel'
Which of the following best describes the highest level of formal education that you’ve completed?
df_24_schema: Question text for 'EdLevel'
Which of the following best describes the highest level of formal education that you’ve completed? *

--------------------------------------------------

df_20_schema: Question text for 'YearsCode'
Including any education, how many years have you been coding in total?
df_24_schema: Question text for 'YearsCode'
Including any education, how many years have you been coding in total?

--------------------------------------------------

df_20_schema: Question text for 'YearsCodePro'
NOT including education, how many years have you coded professionally (as a part of your work)?
df_24_schema: Question text for 'YearsCodePro'
NOT including education, how many years have you coded professionally (as a part of your work)?

--------------------------------------------------

df_20_schema: Question text for 'DevType'
Which of the following describe you? Please select all that apply.
df_24_schema: Question text for 'DevType'
Which of the following describes your current job, the one you do most of the time? Please select only one.

--------------------------------------------------

df_20_schema: Question text for 'OrgSize'
Approximately how many people are employed by the company or organization you currently work for?
df_24_schema: Question text for 'OrgSize'
Approximately how many people are employed by the company or organization you currently work for?  This should only include your primary company, and not the entire holding or parent company if that applies.

--------------------------------------------------

df_20_schema: Question text for 'Country'
Where do you live?
df_24_schema: Question text for 'Country'
Where do you live? <span style="font-weight: bolder;">*</span>

--------------------------------------------------

df_20_schema: Question text for 'CompTotal'
What is your current total compensation (salary, bonuses, and perks, before taxes and deductions), in `CurrencySymbol`? Please enter a whole number in the box below, without any punctuation. If you are paid hourly, please estimate an equivalent weekly, monthly, or yearly salary. If you prefer not to answer, please leave the box empty.
df_24_schema: Question text for 'CompTotal'
What is your current total <b>annual</b> compensation (salary, bonuses, and perks, before taxes and deductions)? Please enter a whole number in the box below, without any punctuation.  If you are paid hourly, please estimate an equivalent yearly salary. If you prefer not to answer, please leave the box empty.

--------------------------------------------------

df_20_schema: Question text for 'NEWSOSites'
Which of the following Stack Overflow sites have you visited? Select all that apply.
df_24_schema: Question text for 'NEWSOSites'
Which of the following Stack Overflow sites have you visited? Select all that apply. *

--------------------------------------------------

df_20_schema: Question text for 'SOVisitFreq'
How frequently would you say you visit Stack Overflow?
df_24_schema: Question text for 'SOVisitFreq'
How frequently would you say you visit Stack Overflow?

--------------------------------------------------

df_20_schema: Question text for 'SOAccount'
Do you have a Stack Overflow account?
df_24_schema: Question text for 'SOAccount'
Do you have a Stack Overflow account?

--------------------------------------------------

df_20_schema: Question text for 'SOPartFreq'
How frequently would you say you participate in Q&A on Stack Overflow? By participate we mean ask, answer, vote for, or comment on questions.
df_24_schema: Question text for 'SOPartFreq'
How frequently would you say you participate in Q&amp;A on Stack Overflow? By participate we mean ask, answer, vote for, or comment on questions.

--------------------------------------------------

df_20_schema: Question text for 'SOComm'
Do you consider yourself a member of the Stack Overflow community?
df_24_schema: Question text for 'SOComm'
Do you consider yourself a member of the Stack Overflow community?

--------------------------------------------------

df_20_schema: Question text for 'SurveyLength'
How do you feel about the length of the survey this year?
df_24_schema: Question text for 'SurveyLength'
How do you feel about the length of the survey this year?

--------------------------------------------------

df_20_schema: Question text for 'SurveyEase'
How easy or difficult was this survey to complete?
df_24_schema: Question text for 'SurveyEase'
How easy or difficult was this survey to complete?

--------------------------------------------------

df_20_schema: Question text for 'JobSat'
How satisfied are you with your current job? (If you work multiple jobs, answer for the one you spend the most hours on.)
df_24_schema: Question text for 'JobSat'
How satisfied are you in your current professional developer role?

--------------------------------------------------

Regarding the questions the following columns of both datafields seem fitting for the analysis:

In [19]:
common_columns_analysis = ['SurveyEase', 'JobSat','CompTotal']

Lets have a short look at the content of the common columns

In [23]:
df_20[common_columns_analysis] # survey from 2020

                       SurveyEase                 JobSat  CompTotal
0      Neither easy nor difficult     Slightly satisfied        NaN
1                             NaN      Very dissatisfied        NaN
2      Neither easy nor difficult                    NaN        NaN
3                             NaN  Slightly dissatisfied        NaN
4                            Easy                    NaN        NaN
...                           ...                    ...        ...
64456                         NaN                    NaN        NaN
64457                         NaN                    NaN        NaN
64458                         NaN                    NaN        NaN
64459                         NaN                    NaN        NaN
64460                         NaN                    NaN        NaN

[64461 rows x 3 columns]

In [22]:
df_24[common_columns_analysis]  # survey from 2024

      SurveyEase  JobSat  CompTotal
0            NaN     NaN        NaN
1            NaN     NaN        NaN
2           Easy     NaN        NaN
3           Easy     NaN        NaN
4           Easy     NaN        NaN
...          ...     ...        ...
65432        NaN     NaN        NaN
65433        NaN     NaN        NaN
65434        NaN     NaN        NaN
65435        NaN     NaN        NaN
65436        NaN     NaN        NaN

[65437 rows x 3 columns]

Since there seem to be a lot of NaN's, let's count them down for the selected colums.

In [39]:
df_20_nan_count_per_row_perc = (df_20[common_columns_analysis].isna().sum() / df_20[common_columns_analysis].shape[0])*100
df_24_nan_count_per_row_perc = (df_24[common_columns_analysis].isna().sum() / df_24[common_columns_analysis].shape[0])*100
print(f"2020 survey: NaN values in %:\n{df_20_nan_count_per_row_perc.round(1)}\n") # print 2020's Percentage of NaN's
print(f"2024 survey: NaN values in %:\n{df_24_nan_count_per_row_perc.round(1)}\n") # print 2024's Percentage of NaN's

2020 survey: NaN values in %:
SurveyEase    19.6
JobSat        29.9
CompTotal     46.0
dtype: float64

2024 survey: NaN values in %:
SurveyEase    14.1
JobSat        55.5
CompTotal     48.4
dtype: float64

Furthermore, the possibilites to answer were different in 2020 and 2024.
- This can be seen in the addtach *.pdf files which desribe each survey (so_survey_2020.pdf and 2024 Developer Survey.pdf). 0
    - e.g. for the column 'CompTotal'. In 2020 it was possible to enter the values weekly, monthly OR yearly (defined in column ["CompFreq"]).In 2024 this was only yearly.

In [52]:
pd.set_option('display.max_colwidth', None) # do not limit output
# Get unique values for each column
df_20_unique_values = df_20[common_columns_analysis].apply(lambda x: set(x.unique()))
df_24_unique_values = df_24[common_columns_analysis].apply(lambda x: set(x.unique()))
# Display the result
print(f"unique values of 2020 survey: '{df_20_unique_values}'")
print("-------------------------------")
print(f"unique values of 2024 survey: '{df_20_unique_values}'")
pd.reset_option('display.max_colwidth')

unique values of 2020 survey: 'SurveyEase                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     {Difficult, nan, Neither easy nor difficult, Easy}
JobSat                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    {Very dissatisfied, Neither satisfied nor dissatisfied, Slightly satisfied, nan, Slightly dissatisfied, Very satisfied}
CompTotal     {0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 106500.0, 6.0, 8200.0, 213000.0, 10.0, 8.0, 7.0, 1941509.0, 65550.0, 15.0, 1450000.0, 17.0, 12.0, 20.0, 204820.0, 22.0, 24.0, 25.0, 8217.0, 27.0, 28.0, 30.0, 2900000.0, 34.0, 36.0, 41000.0, 41.0, 42.0, 40.0, 147500.0, 44.0, 46.0, 1065000.0, 49200.0, 32817.0, 50.0, 48.0, 32816.0, 54.0, 57400.0, 467000.0, 60.0, 680000.0, 65.0, 5800000.0, 67.0, 57000000.0, 70.0, 72.0, 75.0, 82000.0, 80.0, 32850.0, 84.0, 295000.0, 88.0, 90.0, 90205.0, 24670.0, 95.0, 96.0, 100.0, 101.0, 245868.0, 8300.0, 110.0, 32880.0, 65650.0, 115.0, 16500.0, 8310.0, 1605751.0, 123000.0, 120.0, 8314.0, 118.0, 106621.0, 8320.0, 336000.0, 130.0, 49280.0, 1360000.0, 98440.0, 137.0, 140.0, 145.0, 82067.0, 49300.0, 229524.0, 150.0, 975000.0, 123034.0, 57500.0, 156.0, ...}
dtype: object'
-------------------------------
unique values of 2024 survey: 'SurveyEase                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     {Difficult, nan, Neither easy nor difficult, Easy}
JobSat                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    {Very dissatisfied, Neither satisfied nor dissatisfied, Slightly satisfied, nan, Slightly dissatisfied, Very satisfied}
CompTotal     {0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 106500.0, 6.0, 8200.0, 213000.0, 10.0, 8.0, 7.0, 1941509.0, 65550.0, 15.0, 1450000.0, 17.0, 12.0, 20.0, 204820.0, 22.0, 24.0, 25.0, 8217.0, 27.0, 28.0, 30.0, 2900000.0, 34.0, 36.0, 41000.0, 41.0, 42.0, 40.0, 147500.0, 44.0, 46.0, 1065000.0, 49200.0, 32817.0, 50.0, 48.0, 32816.0, 54.0, 57400.0, 467000.0, 60.0, 680000.0, 65.0, 5800000.0, 67.0, 57000000.0, 70.0, 72.0, 75.0, 82000.0, 80.0, 32850.0, 84.0, 295000.0, 88.0, 90.0, 90205.0, 24670.0, 95.0, 96.0, 100.0, 101.0, 245868.0, 8300.0, 110.0, 32880.0, 65650.0, 115.0, 16500.0, 8310.0, 1605751.0, 123000.0, 120.0, 8314.0, 118.0, 106621.0, 8320.0, 336000.0, 130.0, 49280.0, 1360000.0, 98440.0, 137.0, 140.0, 145.0, 82067.0, 49300.0, 229524.0, 150.0, 975000.0, 123034.0, 57500.0, 156.0, ...}
dtype: object'

### 2.3 Summary of Findings during Data understanding

During the Data Understanding step, the following points stood out:

- There are over 60.000 respondents within each dataset (2020: 64.461, 2021: 65.437)
- The columns `['SurveyEase', 'JobSat','CompTotal']` seem promising to solve the questions listed in 1. Business Understanding
- There are a lot of NaN values within the survey
- In the 2020 survey the column 'CompTotal' could be answered either weekly, monthly or yearly. In 2024 it was only yearly.

This means: before working with the data, we need to prepare the data for the analysis

## 3. Data preparation

adding yearly compensation to df20

In [50]:
df_20["YearlyCompensation"] = np.where(df_20["CompFreq"] == "weekly", df_20["CompTotal"] * 52,
                                       np.where(df_20["CompFreq"] == "monthly", df_20["CompTotal"] * 12,
                                                df_20["CompTotal"]))
df_20["YearlyCompensation"]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
64456   NaN
64457   NaN
64458   NaN
64459   NaN
64460   NaN
Name: YearlyCompensation, Length: 64461, dtype: float64